table {
  width: 100%;
}
td {
  height: 50px;
}
input {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  min-height: 45px;
  padding: 5px 10px;
}
button {
  width: 100%;
  background-color: #D73A1E;
  border: none;
  border-radius: 5px;
  min-height: 45px;
  color: #ffffff;
  font-size: 18px;
}
.header {
  background-color: #ffffff;
}
.nav {
  background-color: #523468;
}
.catalog {
  background-color: #ffffff;
}
.footer {
  background-color: #E6E6E6;
  padding: 30px 20px;
}
.footer-contacts {
  font-family: 'Droid Sans';
  font-size: 18px;
  font-weight: bold;
}
.footer-contacts td {
  vertical-align: top;
}
.footer-contacts a {
  text-decoration: none;
  color: #444444;
}
.footer-form {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}
.item {
  text-align: center;
}
.item-img {
  height: auto;
  width: 380px;
}
